.greeting {
    display: none;
    font-family: Horde, sans-serif;
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 10rem;
    text-align: center;
    transform: translate(-50%, -50%);
    color: darkorange;
}

.greeting span {
    display: inline-block;
    transform: translate(0, -80px);
}

.o {
    transform-origin: bottom center;
}

.h {
    color: darkred;
}