.header__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0;
}

.nav__links {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

@media screen and (max-width: 390px){
    .nav__links {
        column-gap: 5px;
    }
}

.nav__item {
    letter-spacing: 0.3rem;;
    padding: 5px 10px;
    cursor: pointer;
}

.nav__item:hover {
    background-color: #CCD6F6;
    color: rgb(118, 60, 172);
    border-radius: 8px;
    transition: .4s;
}

.bottom-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--index) * 3);
    opacity: 0;
}

.bottom-arrow__item {
    display: block;
    width: calc(var(--index) * 1);
    height: calc(var(--index) * 1);
    border-bottom: 5px solid rgba(152, 87, 211, 0.5);
    border-right: 5px solid rgba(152, 87, 211, 0.5);
    transform: rotate(45deg);
    animation: scrollAnimate 2s infinite;
}

@media screen and (max-width: 768px){
    .bottom-arrow__item {
        border-bottom: 1px solid rgba(152, 87, 211, 0.5);
        border-right: 1px solid rgba(152, 87, 211, 0.5);
    }
}

@keyframes scrollAnimate {

    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}